@font-face {
  font-family: 'akrobatbold';
  src: url("../fonts/akrobat-bold-webfont.woff2") format("woff2"), url("../fonts/akrobat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'akrobatregular';
  src: url("../fonts/akrobat-regular-webfont.woff2") format("woff2"), url("../fonts/akrobat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'humgerregular';
  src: url("../fonts/humger-webfont.woff2") format("woff2"), url("../fonts/humger-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'befolk_regular';
  src: url("../fonts/befolk_script-webfont.woff2") format("woff2"), url("../fonts/befolk_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  background: url(../assets/hero-background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 130vh;
  font-family: "akrobatregular";
  font-size: 16px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  font-family: "akrobatregular"; }

button {
  background-color: #ED7800;
  padding: 15px 50px;
  border: 3px solid #FFFFFF;
  border-radius: 10px; }
  button a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800; }

div.backup-logo {
  display: none;
  text-align: center; }
  div.backup-logo img {
    height: 40px; }

a.hb-menu {
  color: #FFFFFF;
  position: absolute;
  top: 23px;
  right: 25px;
  display: none; }

div.wrapper {
  padding: 0px 50px; }

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row::after {
  display: table;
  clear: both;
  content: ""; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

header nav {
  padding: 20px; }
  header nav ul {
    text-align: center;
    margin: 0;
    padding: 0; }
    header nav ul li {
      display: inline-block;
      margin: 0px 50px; }
      header nav ul li a {
        font-family: "akrobatbold";
        color: #FFFFFF;
        font-size: 20px; }
        header nav ul li a:hover {
          color: #F2F2F2; }
      header nav ul li div.logo img {
        height: 70px; }

header div.hero-cta {
  margin-top: 20vh; }
  header div.hero-cta h1 {
    color: #FFFFFF;
    font-size: 65px;
    font-family: "akrobatbold";
    line-height: 53px; }
  header div.hero-cta span {
    color: #FFE400; }
  header div.hero-cta button {
    margin-top: -60px; }

div.menu-section {
  margin-top: 50vh;
  text-align: center; }
  div.menu-section h1.main-menu-title {
    font-size: 50px; }
  div.menu-section h5 {
    font-weight: 500;
    margin-top: -30px;
    font-size: 20px;
    font-family: "befolk_regular"; }
  div.menu-section div.menu {
    text-align: left; }
    div.menu-section div.menu div.menu-card {
      padding: 0px 10px; }
      div.menu-section div.menu div.menu-card img {
        width: 100%; }
      div.menu-section div.menu div.menu-card div.main-menu-title {
        margin-top: -20px;
        border-right: 8px solid #000000; }
        div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
          font-family: "akrobatbold";
          font-weight: 900; }
        div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
          margin-top: -30px;
          font-size: 40px;
          font-weight: 400;
          color: #FF3819; }
      div.menu-section div.menu div.menu-card p.menu-food-info {
        font-weight: 900;
        padding: 0px 10px 0px 0px;
        margin-top: -25px; }

div.socials {
  position: fixed;
  top: 45vh;
  right: 0px; }
  div.socials ul {
    list-style: none;
    margin: 0;
    padding: 0; }

@media only screen and (max-width: 1323px) {
  header nav ul li {
    margin: 0px 40px; } }

@media only screen and (max-width: 1184px) {
  header nav ul li {
    margin: 0px 30px; } }

@media only screen and (max-width: 1045px) {
  header nav ul li {
    margin: 0px 20px; } }

@media only screen and (max-width: 902px) {
  header nav ul li div.logo img {
    height: 60px; } }

@media only screen and (max-width: 877px) {
  header nav ul li {
    margin: 0px 15px; }
    header nav ul li a {
      font-size: 18px; }
    header nav ul li div.logo img {
      height: 50px; } }

@media only screen and (max-width: 743px) {
  header nav ul li {
    margin: 0px 15px; }
    header nav ul li a {
      font-size: 16px; }
    header nav ul li div.logo img {
      height: 40px; } }

@media only screen and (max-width: 678px) {
  header nav {
    padding: 0; }
    header nav a.hb-menu {
      display: block; }
    header nav div.backup-logo {
      background: #ED7800;
      padding: 10px 0px;
      display: block;
      border-bottom: 2px solid #FFFFFF; }
    header nav ul.topnav.responsive {
      background: #ED7800;
      display: block; }
      header nav ul.topnav.responsive li.hero-menu {
        width: 100%;
        border-bottom: 2px solid #FFFFFF;
        margin: 0;
        padding: 5px 0px; }
      header nav ul.topnav.responsive li.hero-logo {
        display: none; }
    header nav ul.topnav {
      background: #ED7800;
      display: none; }
      header nav ul.topnav li.hero-menu {
        width: 100%;
        border-bottom: 2px solid #FFFFFF;
        margin: 0;
        padding: 5px 0px; }
      header nav ul.topnav li.hero-logo {
        display: none; } }

@media only screen and (max-width: 1076px) {
  div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
    font-size: 25px; }
  div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
    margin-top: -25px; } }

@media only screen and (max-width: 865px) {
  div.menu-section div.menu div.menu-card div.main-menu-title {
    margin-top: -10px; }
    div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
      font-size: 20px; }
    div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
      font-size: 34px;
      margin-top: -25px; } }

@media only screen and (max-width: 734px) {
  div.menu-section div.menu div.menu-card {
    width: 50%; }
    div.menu-section div.menu div.menu-card div.main-menu-title {
      margin-top: -10px; }
      div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
        font-size: 16px; }
      div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
        font-size: 30px;
        margin-top: -20px; } }
