@font-face {
  font-family: 'akrobatbold';
  src: url("../fonts/akrobat-bold-webfont.woff2") format("woff2"), url("../fonts/akrobat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'akrobatregular';
  src: url("../fonts/akrobat-regular-webfont.woff2") format("woff2"), url("../fonts/akrobat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'humgerregular';
  src: url("../fonts/humger-webfont.woff2") format("woff2"), url("../fonts/humger-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'befolk_regular';
  src: url("../fonts/befolk_script-webfont.woff2") format("woff2"), url("../fonts/befolk_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  background: url(../assets/hero-background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 130vh;
  font-family: "akrobatregular";
  font-size: 16px;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  font-family: "akrobatregular"; }

button {
  background-color: #ED7800;
  padding: 15px 50px;
  border: 3px solid #FFFFFF;
  border-radius: 10px; }
  button a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800; }

div.backup-logo {
  display: none;
  text-align: center; }
  div.backup-logo img {
    height: 40px; }

a.hb-menu {
  color: #FFFFFF;
  position: absolute;
  top: 23px;
  right: 25px;
  display: none; }

div.wrapper {
  padding: 0px 50px; }

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row::after {
  display: table;
  clear: both;
  content: ""; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

header nav {
  padding: 20px; }
  header nav ul {
    text-align: center;
    margin: 0;
    padding: 0; }
    header nav ul li {
      display: inline-block;
      margin: 0px 50px; }
      header nav ul li a {
        font-family: "akrobatbold";
        color: #FFFFFF;
        font-size: 20px; }
        header nav ul li a:hover {
          color: #F2F2F2; }
      header nav ul li div.logo img {
        height: 70px; }

header div.hero-cta {
  margin-top: 20vh; }
  header div.hero-cta h1 {
    color: #FFFFFF;
    font-size: 65px;
    font-family: "akrobatbold";
    line-height: 53px; }
  header div.hero-cta span {
    color: #FFE400; }
  header div.hero-cta button {
    margin-top: -60px; }

div.menu-section {
  margin-top: 50vh;
  text-align: center; }
  div.menu-section h1.main-menu-title {
    font-size: 50px;
    font-family: "humgerregular"; }
  div.menu-section h5 {
    font-weight: 500;
    margin-top: -30px;
    font-size: 20px;
    font-family: "befolk_regular"; }
  div.menu-section div.menu {
    text-align: left; }
    div.menu-section div.menu div.menu-card {
      padding: 0px 10px; }
      div.menu-section div.menu div.menu-card img {
        width: 100%; }
      div.menu-section div.menu div.menu-card div.main-menu-title {
        margin-top: -20px;
        border-right: 8px solid #000000; }
        div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
          font-family: "akrobatbold";
          font-weight: 900; }
        div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
          margin-top: -30px;
          font-size: 40px;
          font-weight: 400;
          color: #FF3819; }
      div.menu-section div.menu div.menu-card p.menu-food-info {
        font-weight: 900;
        padding: 0px 10px 0px 0px;
        margin-top: -25px; }

div.order-section {
  background: url(../assets/order.png) no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 20vh;
  margin-bottom: 25vh; }
  div.order-section h1.order-title {
    font-family: "befolk_regular";
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400; }
  div.order-section h1.order-info {
    margin-top: -40px;
    font-size: 65px;
    color: #FFFFFF;
    font-family: "akrobatbold";
    line-height: 53px; }
    div.order-section h1.order-info span {
      color: #FFE400; }
  div.order-section input {
    margin-top: -100px;
    color: #FFFFFF;
    font-size: 20px;
    width: 78vh;
    padding: 15px 10px;
    border: 3px solid #FFFFFF;
    background-color: #1A1A1A;
    margin-bottom: 20px; }
  div.order-section input::-webkit-input-placeholder {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px; }
  div.order-section input:-ms-input-placeholder {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px; }
  div.order-section input::-ms-input-placeholder {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px; }
  div.order-section input::placeholder {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px; }

div.signup-main {
  background: url(../assets/footer.png) no-repeat; }
  div.signup-main h1.signup-title {
    text-align: center;
    color: #FFFFFF; }
  div.signup-main div.signup {
    text-align: center; }
    div.signup-main div.signup h1 {
      color: #FFFFFF;
      font-size: 20px; }
    div.signup-main div.signup input {
      background-color: rgba(255, 255, 255, 0.5);
      border: 4px solid #DFDFDF;
      padding: 15px 10px;
      width: 50vh;
      color: #FFFFFF;
      font-weight: 600; }
  div.signup-main div.signup-btn {
    margin-top: 50px;
    text-align: center; }
  div.signup-main div.signup-left {
    text-align: right;
    padding-right: 20px; }
  div.signup-main div.signup-right {
    text-align: left;
    padding-left: 20px; }

footer {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #000000;
  text-align: center; }
  footer ul {
    margin: 0;
    padding: 30px; }
    footer ul li {
      display: inline-block;
      margin: 0px 20px;
      color: #FFFFFF; }

div.socials {
  position: fixed;
  top: 45vh;
  right: 0px; }
  div.socials ul {
    list-style: none;
    margin: 0;
    padding: 0; }

@media only screen and (max-width: 1323px) {
  header nav ul li {
    margin: 0px 40px; } }

@media only screen and (max-width: 1184px) {
  header nav ul li {
    margin: 0px 30px; } }

@media only screen and (max-width: 1045px) {
  header nav ul li {
    margin: 0px 20px; } }

@media only screen and (max-width: 902px) {
  header nav ul li div.logo img {
    height: 60px; } }

@media only screen and (max-width: 877px) {
  header nav ul li {
    margin: 0px 15px; }
    header nav ul li a {
      font-size: 18px; }
    header nav ul li div.logo img {
      height: 50px; } }

@media only screen and (max-width: 757px) {
  header nav {
    padding: 20px 0px; }
    header nav ul li {
      margin: 0px 20px; }
      header nav ul li a {
        font-size: 16px; } }

@media only screen and (max-width: 755px) {
  header nav {
    padding: 20px 0px; }
    header nav ul li {
      margin: 0px 22px; }
      header nav ul li a {
        font-size: 16px; }
      header nav ul li div.logo img {
        height: 40px; } }

@media only screen and (max-width: 743px) {
  header nav {
    padding: 20px 0px; }
    header nav ul li {
      margin: 0px 15px; }
      header nav ul li a {
        font-size: 16px; }
      header nav ul li div.logo img {
        height: 40px; } }

@media only screen and (max-width: 694px) {
  header nav ul li {
    margin: 0px 17px; } }

@media only screen and (max-width: 681px) {
  header nav ul li {
    margin: 0px 16px; } }

@media only screen and (max-width: 678px) {
  header nav {
    padding: 0; }
    header nav a.hb-menu {
      display: block; }
    header nav div.backup-logo {
      background: #ED7800;
      padding: 10px 0px;
      display: block;
      border-bottom: 2px solid #FFFFFF; }
    header nav ul.topnav.responsive {
      background: #ED7800;
      display: block; }
      header nav ul.topnav.responsive li.hero-menu {
        width: 100%;
        border-bottom: 2px solid #FFFFFF;
        margin: 0;
        padding: 5px 0px; }
      header nav ul.topnav.responsive li.hero-logo {
        display: none; }
    header nav ul.topnav {
      background: #ED7800;
      display: none; }
      header nav ul.topnav li.hero-menu {
        width: 100%;
        border-bottom: 2px solid #FFFFFF;
        margin: 0;
        padding: 5px 0px; }
      header nav ul.topnav li.hero-logo {
        display: none; } }

@media only screen and (max-width: 676px) {
  div.socials ul li img {
    height: 30px; }
  header div.wrapper {
    padding: 10px; }
    header div.wrapper div.hero-cta h1 {
      font-size: 50px;
      line-height: 40px; } }

@media only screen and (max-width: 500px) {
  header div.hero-cta {
    text-align: center; }
    header div.hero-cta h1 {
      font-size: 55px;
      line-height: 45px; } }

@media only screen and (max-width: 295px) {
  header div.hero-cta {
    margin-top: 10vh;
    text-align: center; }
    header div.hero-cta h1 {
      font-size: 50px;
      line-height: 40px; } }

@media only screen and (max-width: 269px) {
  header div.hero-cta {
    margin-top: 10vh;
    text-align: center; }
    header div.hero-cta h1 {
      font-size: 45px;
      line-height: 40px; } }

@media only screen and (max-width: 1076px) {
  div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
    font-size: 25px; }
  div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
    margin-top: -25px; } }

@media only screen and (max-width: 865px) {
  div.menu-section div.menu div.menu-card div.main-menu-title {
    margin-top: -10px; }
    div.menu-section div.menu div.menu-card div.main-menu-title h1.menu-title {
      font-size: 20px; }
    div.menu-section div.menu div.menu-card div.main-menu-title h2.menu-price {
      font-size: 34px;
      margin-top: -20px; } }

@media only screen and (max-width: 734px) {
  div.menu-section div.menu div.menu-card {
    width: 50%; } }

@media only screen and (max-width: 700px) {
  div.menu-section {
    margin-top: 40vh; }
    div.menu-section div.wrapper {
      padding: 0px 10px; } }

@media only screen and (max-width: 448px) {
  div.menu-section div.menu div.menu-card {
    width: 100%; } }

@media only screen and (max-width: 425px) {
  div.menu-section h5 {
    font-size: 16px;
    line-height: 25px; } }

@media only screen and (max-width: 480px) {
  div.order-section input {
    width: 70vh; } }

@media only screen and (max-width: 422px) {
  div.order-section input {
    width: 60vh; } }

@media only screen and (max-width: 368px) {
  div.order-section {
    padding-top: 15vh; }
    div.order-section h1.order-title {
      line-height: 150px;
      font-size: 40px; }
    div.order-section h1.order-info {
      line-height: 40px;
      font-size: 40px; }
    div.order-section input {
      width: 50vh; } }

@media only screen and (max-width: 310px) {
  div.order-section {
    padding-top: 15vh; }
    div.order-section h1.order-title {
      line-height: 150px;
      font-size: 40px; }
    div.order-section h1.order-info {
      line-height: 40px;
      font-size: 40px; }
    div.order-section input {
      font-size: 16px;
      width: 40vh; }
    div.order-section input::-webkit-input-placeholder {
      font-size: 10px; }
    div.order-section input:-ms-input-placeholder {
      font-size: 10px; }
    div.order-section input::-ms-input-placeholder {
      font-size: 10px; }
    div.order-section input::placeholder {
      font-size: 10px; } }

@media only screen and (max-width: 285px) {
  div.order-section {
    padding-top: 20vh; }
    div.order-section h1.order-title {
      font-size: 30px; } }

@media only screen and (max-width: 659px) {
  div.signup-main div.signup h1 {
    font-size: 16px; }
  div.signup-main div.signup input {
    width: 40vh; } }

@media only screen and (max-width: 531px) {
  div.signup-main div.signup input {
    width: 60vh; }
  div.signup-main div.signup div.signup-cards {
    width: 100%;
    text-align: center;
    padding: 0px; } }

@media only screen and (max-width: 383px) {
  div.signup-main div.signup input {
    width: 50vh; } }

@media only screen and (max-width: 319px) {
  div.signup-main div.signup input {
    width: 40vh; } }
