header
	nav
		padding: 20px
		ul
			text-align: center
			margin: 0
			padding: 0
			li
				display: inline-block
				margin: 0px 50px
				a
					font-family: $font-akrobatbold
					color: $base-white
					font-size: 20px
					&:hover
						color: $base-grey
				div.logo
					img
						height: 70px

	div.hero-cta
		margin-top: 20vh
		h1
			color: $base-white
			font-size: 65px
			font-family: $font-akrobatbold
			line-height: 53px
		span
			color: $base-yellow
		button
			margin-top: -60px
