body
	margin: 0
	padding: 0
	background: url(../assets/hero-background.png) no-repeat
	background-position: top
	background-size: cover
	font-family: $font-akrobatregular
	font-size: 16px

*
	box-sizing: border-box

a
	text-decoration: none
