/* Grids */
.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row::after {
  display: table;
  clear: both;
  content: ""; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  height: 100vh;
  border: 0; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.container {
  padding: 0; }

div.signup-card {
  margin-left: -90px; }
  div.signup-card div.title {
    text-align: center;
    width: 100%;
    background-color: #FF8100; }
    div.signup-card div.title h2 {
      color: white;
      font-weight: 10;
      font-family: 'befolk_regular'; }
  div.signup-card div.signup {
    text-align: center; }
    div.signup-card div.signup ul {
      text-align: left;
      margin: 0;
      margin-left: 5px;
      padding: 0;
      display: inline-block;
      list-style: none; }
      div.signup-card div.signup ul li {
        padding: 10px 0px;
        font-family: 'akrobatregular'; }
        div.signup-card div.signup ul li input {
          padding: 10px 140px 10px 10px; }
  div.signup-card button {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: #FF8100;
    border: 0px;
    padding: 12px; }
    div.signup-card button:hover {
      cursor: pointer; }
    div.signup-card button a {
      font-family: 'akrobatregular';
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }

@font-face {
  font-family: 'akrobatregular';
  src: url("../fonts/akrobat-regular-webfont.woff2") format("woff2"), url("../fonts/akrobat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'befolk_regular';
  src: url("../fonts/befolk_script-webfont.woff2") format("woff2"), url("../fonts/befolk_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media only screen and (max-width: 1337px) {
  div.signup-card div.signup ul li input {
    padding: 10px 130px 10px 10px; } }

@media only screen and (max-width: 1298px) {
  div.signup-card div.signup ul li input {
    padding: 10px 120px 10px 10px; } }

@media only screen and (max-width: 1240px) {
  div.signup-card div.signup ul li input {
    padding: 10px 110px 10px 10px; } }

@media only screen and (max-width: 1200px) {
  div.signup-card div.signup ul li input {
    padding: 10px 100px 10px 10px; } }

@media only screen and (max-width: 1181px) {
  div.signup-card {
    margin-left: -60px; }
    div.signup-card div.signup ul li input {
      padding: 10px 90px 10px 10px; } }

@media only screen and (max-width: 1120px) {
  div.signup-card {
    margin-left: -50px; }
    div.signup-card div.signup ul li input {
      padding: 10px 80px 10px 10px; } }

@media only screen and (max-width: 1080px) {
  div.signup-card {
    margin-left: -40px; }
    div.signup-card div.signup ul li input {
      padding: 10px 70px 10px 10px; } }

@media only screen and (max-width: 1040px) {
  div.signup-card {
    margin-left: -30px; }
    div.signup-card div.signup ul li input {
      padding: 10px 60px 10px 10px; } }

@media only screen and (max-width: 1000px) {
  div.signup-card {
    margin-left: -20px; }
    div.signup-card div.signup ul li input {
      padding: 10px 50px 10px 10px; } }

@media only screen and (max-width: 981px) {
  div.signup-card {
    margin-left: 100px; }
    div.signup-card div.signup ul li input {
      padding: 10px 40px 10px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 920px) {
  div.signup-card {
    margin-left: 100px; }
    div.signup-card div.signup ul li input {
      padding: 10px 30px 10px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 890px) {
  div.signup-card {
    margin-left: 100px; }
    div.signup-card div.signup ul li input {
      padding: 10px 20px 10px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 840px) {
  div.signup-card {
    margin-left: 100px; }
    div.signup-card div.signup ul li input {
      padding: 10px 10px 10px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 800px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup ul {
      display: block; }
      div.signup-card div.signup ul li {
        padding: 5px; }
        div.signup-card div.signup ul li input {
          padding: 8px 200px 8px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 771px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup ul {
      display: block; }
      div.signup-card div.signup ul li {
        padding: 5px; }
        div.signup-card div.signup ul li input {
          padding: 8px 190px 8px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 755px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup7 ul {
      display: block; }
      div.signup-card div.signup7 ul li {
        padding: 5px; }
        div.signup-card div.signup7 ul li input {
          padding: 7px 150px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 729px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 140px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 677px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 130px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 659px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 120px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 631px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 110px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 622px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 100px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 596px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 90px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 573px) {
  div.signup-card {
    margin-left: 90px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 80px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 558px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 70px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 554px) {
  a.home-ico {
    display: none; } }

@media only screen and (max-width: 538px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 60px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 524px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 50px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 509px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 40px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 476px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 30px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 453px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 20px 7px 10px; }
  div.slideshows {
    width: 30%; } }

@media only screen and (max-width: 444px) {
  div.signup-card {
    margin-left: 60px; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 10px 7px 10px; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 424px) {
  div.signup-card {
    margin-left: 40px; }
    div.signup-card div.title {
      width: 125%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 60px 7px 10px; }
    div.signup-card button {
      width: 125%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 422px) {
  div.signup-card {
    margin-left: 40px; }
    div.signup-card div.title {
      width: 125%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 50px 7px 10px; }
    div.signup-card button {
      width: 125%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 400px) {
  div.signup-card {
    margin-left: 40px; }
    div.signup-card div.title {
      width: 125%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 40px 7px 10px; }
    div.signup-card button {
      width: 125%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 386px) {
  div.signup-card {
    margin-left: 40px; }
    div.signup-card div.title {
      width: 125%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 30px 7px 10px; }
    div.signup-card button {
      width: 125%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 368px) {
  div.signup-card {
    margin-left: 40px; }
    div.signup-card div.title {
      width: 125%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 20px 7px 10px; }
    div.signup-card button {
      width: 125%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 358px) {
  div.signup-card {
    margin-left: 10px; }
    div.signup-card div.title {
      width: 148%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 58px 7px 10px; }
    div.signup-card button {
      width: 148%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 346px) {
  div.signup-card {
    margin-left: 10px; }
    div.signup-card div.title {
      width: 148%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 50px 7px 10px; }
    div.signup-card button {
      width: 148%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 333px) {
  div.signup-card {
    margin-left: 10px; }
    div.signup-card div.title {
      width: 148%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 40px 7px 10px; }
    div.signup-card button {
      width: 148%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 324px) {
  div.signup-card {
    margin-left: 10px; }
    div.signup-card div.title {
      width: 148%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 30px 7px 10px; }
    div.signup-card button {
      width: 148%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 311px) {
  div.signup-card {
    margin-left: 10px; }
    div.signup-card div.title {
      width: 148%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 20px 7px 10px; }
    div.signup-card button {
      width: 148%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 297px) {
  div.signup-card {
    margin-left: 10px; }
    div.signup-card div.title {
      width: 148%; }
    div.signup-card div.signup {
      text-align: center; }
      div.signup-card div.signup ul {
        display: block; }
        div.signup-card div.signup ul li {
          padding: 5px; }
          div.signup-card div.signup ul li input {
            padding: 7px 10px 7px 10px; }
    div.signup-card button {
      width: 148%; }
  div.slideshows {
    width: 20%; } }

@media only screen and (max-width: 280px) {
  div.signup-card div.signup ul li {
    font-size: 14px; } }

a.home-ico {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FF8100; }
